body{
    background-color:rgb(37, 57, 7);
    position: relative;
}
h1{
    color:gold;
}
label{
    color:white;
    font-style: oblique;
}
/* #submit{
    background-color: rgb(210, 51, 51);
    color:white;
    width: 145px;
    height: 30px;
} */
.log{
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}
input{
    background-color: rgb(255, 217, 105);
    color:rgb(37, 57, 7);
    font-size:15px;
    border:1px solid rgb(156, 8, 8);
    font-weight:bolder;
    width: 140px;
}
#zatankuj{
    background-color:rgb(210, 51, 51);
    color:white;
    text-decoration: none;
    font-size:22px;
    padding: 3px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px #000000;
   
}
input:focus{
    background-color: rgb(160, 120, 0); ;
}
#login{
    text-shadow: 2px 2px 4px #ff0000;
}
#submit {
    background-color: #ff0000;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 8px;
}

#submit:hover {
    background-color: #45a049;
}
#error{
    background-color: #ff0000;
    width: 100%;
    height: 100%;
}